<div class='container-movies'>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <img src='/images/cinema.jpg' alt='Cinema'>
    <a href='/movies' id='check button'>Check the movies!</a>
</div>